* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-family: verdana;
    font-size: 50px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

a {
    color: #7fffd4;
    font-size: 16px;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: #fff
}